@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 4%;
        /* #0F1110 */
        --foreground: 0 0% 98%;
        --card: 0 0% 4%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 4%;
        --popover-foreground: 0 0% 98%;
        --primary: 48 30% 92%;
        /* #F0EEE1 */
        --primary-foreground: 0 0% 4%;
        --secondary: 0 0% 15%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 15%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 15%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 15%;
        --input: 0 0% 15%;
        --ring: 0 0% 83.1%;
        --radius: 0.5rem;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}